.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: bold;
    font-family: "Times New Roman";
}
.toolbar img {
    margin: 0 16px;
}

.menu{
    position: absolute;
    top: 50px;
    left: 0;
}

.title {
    align-items: center;
    color: #1976d2;
    font-weight: bold;
    font-family: "Playfair Display", serif;
    font-size: 2vw;
}
.content{
    text-align: justify;
    font-size: 1.5vw;
    font-family: "Times New Roman";
}
.heading {
    font-family: "Playfair Display", serif;
    font-size: 4vw;
    color: #1976d2;
}

.page{
    position: absolute;
    top: 150px;
    left: 0;
}

.img {
    position: absolute;
    right: 50px;
}

.alebrije {
    position: relative;
    top: 60px;
    left: 1200px;
}

summary {
    background-color: white;
    border: none;
    border-color: white;
    cursor: pointer;
    font-family: "Times New Roman";
    font-weight: bold;
    color: #DF013A;
    outline:none;
    font-size: large;
}
datalist{
    font-family: "Times New Roman";
}

ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: lightskyblue;
}
.active {
    background-color: cornflowerblue;
}



